/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#tablero {
  max-width: 600px;
  padding: 20px;
  margin: 10px;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.265);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#tablero section {
  width: 100%;
  display: flex;
  justify-content: center;
}

#tablero-juego {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  background-color: rgb(160, 160, 160);
}

.celda {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.celda:hover {
  background-color: rgb(249, 255, 168);
}

.jugador-1 {
  color: rgb(255, 0, 0);
}

.jugador-2 {
  color: rgb(0, 0, 255);
}

.descripcion {
  text-align: justify;
}

.boton {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}

#reiniciar-tablero {
  background-color: rgb(103, 246, 103);
  border: 2px solid black;
}
#reiniciar-tablero:hover {
  color: white;
  font-weight: 700;
  background-color: rgb(96, 228, 96);
  border: 2px solid rgb(74, 178, 74);
  box-shadow: 0 0 10px rgb(103, 246, 103);
}

#reiniciar-juego {
  background-color: rgb(255, 154, 60);
  border: 2px solid black;
}

#reiniciar-juego:hover {
  color: white;
  font-weight: 700;
  background-color: rgb(255, 216, 60);
  border: 2px solid rgb(200, 121, 48);
  box-shadow: 0 0 10px rgb(255, 212, 82);
}
