/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
.phone {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.phone {
  background-color: rgb(240, 240, 240);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid red;
  border-radius: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

@media screen and (min-width: 400px) {
  .phone {
    height: 640px;
    width: 360px;
    border-radius: 20px;
    margin-left: 2em;
    margin-top: 2em;
  }
}
